.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--superblack-color);
  @media screen and (min-width: 1600px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--blue {
  color: var(--accent-color);
}

.logo--white {
  color: var(--white-color);
}
